<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MAIN VIEW</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="description" content="">
    <meta name="author" content="KaijuThemes">
    <link rel = "icon" href = "#">

    <!--font-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2f2d5716d5.js" crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js"></script>

    <!-- Style -->
    <link rel="stylesheet" href="./index.css" rel="stylesheet"/>
</head>
<body>
  <nav>
    <div class="navbar_logo">
        <i class="fab fa-youtube"></i>
        <a href="">YouTube</a>
    </div>
    <div class="navbar_icon">
        <i class="fas fa-search"></i>
        <i class="fas fa-ellipsis-v"></i>
    </div>
  </nav>
  <article>
      <video width="100%" controls 
        src="https://www.youtube.com/embed/NR5Ofg4TN04"
        type="video/avi">
      </video>
      <ul class="info">
          <li class="hashtag">
              #SuaDaddy #Frontend #Jeremy
          </li>
          <h1>
              Youtube 고대로 카피해서 디자인만 잡은 형태고 영상은 재생이 안됨
              <i class="fas fa-caret-down"></i>
          </h1>
          <li class="info_view">
              1,1M views 1 month ago
          </li>

      </ul>
      <ul class="info_2">
          <li class="info_thumbs1"> <i class="fas fa-thumbs-up"></i>
              1M
          <li class="info_thumbs2"> <i class="fas fa-thumbs-down"></i>
              210
          </li>
          <li class="info_thumbs3"> <i class="fas fa-share-square"></i>
              Share
          </li>
          <li class="info_thumbs4"> <i class="fas fa-plus"></i>
              Save
          </li>
          <li class="info_thumbs5"> <i class="fas fa-flag"></i>
              Report
          </li>

      </ul>
      <ul class="profile">
          <a href=""><img
                  src="https://thegraphicsfairy.com/wp-content/uploads/2015/01/Vintage-Beauty-Profile-Image-GraphicsFairy.jpg"
                  alt="profile image" width="30px" height="30">
              Jeremy </a>

          <li class="profile2">
              <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default">
              </div>
          </li>
      </ul>
  </article>

  <!--playlist-->
  <aside>
      <li>Up next</li>
      <div class="list1">
          <iframe width="180" height="100" src="https://www.youtube.com/embed/NR5Ofg4TN04" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <ul>
            <li> List 1번 영상</li>
            <li class="playlist_view">Jeremy</li>
            <li class="playlist_view">82K views</li>
          </ul>
          <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="list2">
          <iframe width="180" height="100" src="https://www.youtube.com/embed/cY4aAsdXUNE" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
          <ul>
            <li> List 2번 영상</li>
            <li class="playlist_view">Jeremy</li>
            <li class="playlist_view">82k views</li>
          </ul>
          <i class="fas fa-ellipsis-v"></i>
      </div>
      <div class="list3">
          <iframe width="180" height="100" src="https://www.youtube.com/embed/VpYqotUZFnk" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          <ul>
            <li> List 3번 영상</li>
            <li class="playlist_view">Jeremy</li>
            <li class="playlist_view">82k views</li>

          </ul>
          <i class="fas fa-ellipsis-v"></i>
      </div>
  </aside>

</body>
</html>
